/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 5rem 0 3rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: transparent;
}

.heroTitle {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #010101;
}

.heroSubtitle {
  font-size: 1.25rem;
  color: #666;
  font-weight: 400;
  margin-bottom: 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 3rem 2rem 2rem;
  }

  .heroTitle {
    font-size: 2rem;
  }

  .heroSubtitle {
    font-size: 1.1rem;
  }
}

[data-theme='dark'] .heroTitle {
  color: #F0F2FA;
}

[data-theme='dark'] .heroSubtitle {
  color: #b0b0b0;
}
